<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>net.npratley.ha-deploy</string>
    <key>ProgramArguments</key>
    <array><string>/Users/nickp/ha-deploy/deploy.sh</string></array>
    <key>StartInterval</key><integer>120</integer>
    <key>RunAtLoad</key><true/>
    <key>StandardOutPath</key><string>/Users/nickp/ha-deploy/launchd.out.log</string>
    <key>StandardErrorPath</key><string>/Users/nickp/ha-deploy/launchd.err.log</string>
</dict>
</plist>
